<!DOCTYPE html>
<html>
<head>
	<title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock title %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock title_suffix %}
        </title>
        {{ page.custom_css|safe }}
        {{ page.custom_JavaScript|safe }}
</head>
<body>
{{ page.html_content|safe }}
</body>
</html>
